/src/
/.gclient
/.gclient_entries
/.gclient_previous_sync_commits
/third_party/depot_tools/

/out/
/dist/
/.keys/
/.dev-profile/
*.o
*.a
*.dSYM/

/build/args/local.gni
.env
.env.local

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
